@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* <div class="top-row px-4">
            <span id="main-title">Blazor ASCII Camera</span>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
